@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or App.css */
@font-face {
    font-family: "Supercell Magic";
    src: url("/fonts/SupercellMagic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  